In [1]:
import pandas as pd
import psycopg2

In [2]:
DBNAME = 'project_sql'
USER = 'skillfactory'
PASSWORD = 'cCkxxLVrDE8EbvjueeMedPKt'
HOST = '84.201.134.129'
PORT = 5432

In [3]:
connection = psycopg2.connect(
    dbname=DBNAME,
    user=USER,
    host=HOST,
    password=PASSWORD,
    port=PORT
)

6. Предметный 
✍ Переходим к самому интересному — нам предстоит исследовать требования работодателей к дата-сайентистам.

!!! Задание 6.1
Сколько вакансий имеет отношение к данным

In [4]:
query = f''' select count(2)

 from public.vacancies v
    where 
      name ilike '%данн%'
      or name ilike '%data%' 
          
       '''

In [5]:
df = pd.read_sql_query(query, connection)
df

C:\Users\Станислав\AppData\Local\Temp\ipykernel_3460\137330334.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

   count
0   1771

!!! Задание 6.2
Будем считать вакансиями для дата-сайентистов такие, в названии которых есть хотя бы одно из следующих сочетаний:
В следующих заданиях мы продолжим работать с вакансиями по указанному выше условию (уже не учитывая вакансии уровня Junior).

Будем считать вакансиями для дата-сайентистов такие, в названии которых есть хотя бы одно из следующих сочетаний:
‘data scientist’;
‘data science’;
‘исследователь данных’;
‘ML’ (здесь не нужно брать вакансии по HTML);
‘machine learning’;
‘машинн%обучен%’.

Считаем вакансиями для специалистов уровня Junior следующие:
в названии есть слово “junior” или
требуемый опыт — «Нет опыта» или
тип трудоустройства — «Стажировка».

In [45]:
query = f''' select count(*)
     from public.vacancies v
     where 
     (name ilike '%data scientist%'
     or name ilike '%data science%'
     or name ilike '%исследователь данных%'
     or (name ilike '%ML%' and name not ilike '%HTML%')
     or name ilike '%machine learning%'
     or name ilike '%машинн%обучен%')
     and
     (name ilike '%junior%'
     or experience ilike '%Нет опыта%'
     or employment ilike '%Стажировка%')
    '''

In [46]:
df = pd.read_sql_query(query, connection)
df

C:\Users\Станислав\AppData\Local\Temp\ipykernel_3460\137330334.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

   count
0     51

Чтобы определить количество подходящих вакансий для начинающего дата-сайентиста, нужно выполнить следующие шаги:
1. Фильтрация вакансий по названию (Data Science / ML)
Отбираем вакансии, в названии которых есть хотя бы одно из указанных сочетаний:
data scientist
data science
исследователь данных
ML (но не HTML)
machine learning
машинн%обучен% (здесь % означает любые символы, например, "машинное обучение", "машинному обучению" и т. д.)
2. Фильтрация по уровню Junior
Из отобранных вакансий выбираем те, которые подходят для начинающих специалистов, по критериям:
В названии есть слово junior (регистр не учитывается, например, Junior, JUNIOR, junior), или
Требуемый опыт работы — Нет опыта, или
Тип трудоустройства — Стажировка.
Итоговый запрос (пример для SQL)
sql
Copy
SELECT COUNT(*) AS junior_ds_vacancies
FROM vacancies
WHERE (
    -- Условия по названию (Data Science / ML)
    LOWER(title) LIKE '%data scientist%'
    OR LOWER(title) LIKE '%data science%'
    OR LOWER(title) LIKE '%исследователь данных%'
    OR (LOWER(title) LIKE '%ml%' AND LOWER(title) NOT LIKE '%html%')
    OR LOWER(title) LIKE '%machine learning%'
    OR LOWER(title) LIKE '%машинн%обучен%'
)
AND (
    -- Условия для Junior
    LOWER(title) LIKE '%junior%'
    OR experience = 'Нет опыта'
    OR employment = 'Стажировка'
);
Приблизительное количество вакансий (оценка)
Точное число зависит от базы данных (например, HeadHunter, LinkedIn, Indeed). В среднем, для российского рынка (на HH.ru) может быть от 50 до 200+ Junior-вакансий в Data Science / ML, но это сильно зависит от времени года и текущего спроса.
Если у вас есть доступ к конкретной базе данных, можно выполнить запрос выше для точного подсчёта.
New chat
Message DeepSeek

!!! Задание 6.3
Сколько есть вакансий для DS, в которых в качестве ключевого навыка указан SQL или postgres?
В качестве ответа запишите количество, которое вернул запрос.

In [8]:
query = f''' select count(*)
     from public.vacancies v
     where
     (name ilike '%data scientist%'
     or name ilike '%data science%'
     or name ilike '%исследователь данных%'
     or (name ilike '%ML%' and name not ilike '%HTML%')
     or name ilike '%machine learning%'
     or name ilike '%машинн%обучен%')
     
     and (key_skills ilike '%SQL%' 
     or key_skills ilike '%postgres%')
         
    '''

In [9]:
df = pd.read_sql_query(query, connection)
df

C:\Users\Станислав\AppData\Local\Temp\ipykernel_3460\137330334.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

   count
0    229

!!! Задание 6.4
С помощью запроса, аналогичного предыдущему, проверьте, насколько популярен Python в требованиях работодателей к DS. Вычислите количество вакансий, в которых в качестве ключевого навыка указан Python.
В качестве ответа запишите количество, которое вернул запрос.

In [51]:
query = f''' select count(*)
     from public.vacancies v
     where
     (name ilike '%data scientist%'
     or name ilike '%data science%'
     or name ilike '%исследователь данных%'
     or (name ilike '%ML%' and name not ilike '%HTML%')
     or name ilike '%machine learning%'
     or name ilike '%машинн%обучен%')
     and key_skills ilike '%Python%' 
    '''

In [52]:
df = pd.read_sql_query(query, connection)
df

C:\Users\Станислав\AppData\Local\Temp\ipykernel_3460\137330334.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

   count
0    357

--- Задание 6.5
Сколько ключевых навыков в среднем указывают в вакансиях для DS?
Ответ округлите до двух знаков после точки-разделителя.

Подсказка (1 из 3): Посчитать количество определённых символов в строке с помощью SQL можно следующим образом: из длины исходной строки вычесть длину строки, в которой все вхождения этого символа заменены на пустую строку (''). Работа со строками изучалась в юните «*BONUS. SQL-5. Типы данных 6. Функции и операторы для работы со строками».

In [56]:
query = f''' select name, key_skills
     from public.vacancies v
     where
     name ilike '%DS%'
    and
     (key_skills ilike '%SQL%'
     or
     key_skills ilike '%postgres%' 
     or
     key_skills ilike '% Python%')        
    '''

In [58]:
query = '''
SELECT ROUND(AVG(skill_count), 2) AS avg_skills
FROM (
    SELECT 
        CASE 
            WHEN key_skills IS NULL OR TRIM(key_skills) = '' THEN 0
            ELSE ARRAY_LENGTH(STRING_TO_ARRAY(key_skills, ','), 1)
        END AS skill_count
    FROM public.vacancies
    WHERE 
        name ~* 'data scientist|data science|исследователь данных|machine learning|машинн.*обучен'
        OR (name ~* 'ML' AND name !~* 'HTML')
) t;
'''

In [60]:
query = '''
SELECT ROUND(AVG(
    CASE 
        WHEN key_skills IS NULL OR key_skills = '' THEN 0
        ELSE (LENGTH(key_skills) - LENGTH(REPLACE(key_skills, ',', ''))) + 1
    END
), 2) AS avg_skills
FROM public.vacancies
WHERE 
    name ~* 'data scientist|data science|исследователь данных|machine learning|машинн.*обучен'
    OR (name ~* 'ML' AND name !~* 'HTML');
'''

In [61]:
df = pd.read_sql_query(query, connection)
df

C:\Users\Станислав\AppData\Local\Temp\ipykernel_3460\137330334.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

   avg_skills
0        0.98

In [ ]:
Задание 6.6
1 point possible (graded)
Напишите запрос, позволяющий вычислить, какую зарплату для DS в среднем указывают для каждого типа требуемого опыта (уникальное значение из поля experience).

In [182]:
query = f''' select name, REPLACE(key_skills, ' ', ',')
     from public.vacancies v
      where
     (name ilike '%data scientist%'
     or name ilike '%data science%'
     or name ilike '%исследователь данных%'
     or (name ilike '%ML%' and name not ilike '%HTML%')
     or name ilike '%machine learning%'
     or name ilike '%машинн%обучен%')
     
     and (key_skills ilike '%SQL%' 
     or key_skills ilike '%postgres%')
         
    '''

In [196]:
 query = f''' select name, v.key_skills
      from public.vacancies v
      where
      name ~* 'data scientist|data science|исследователь данных|machine learning|машинн%обучен' 
      or (name ~* 'ML' and name !~* 'HTML')
         
    '''

In [6]:
query = f''' select name, REPLACE(key_skills, ' ', ',')
     from public.vacancies v
     where
      name ~* 'data scientist|data science|исследователь данных|machine learning|машинн%обучен' 
      or (name ~* 'ML' and name !~* 'HTML')
         
    '''

In [7]:
df = pd.read_sql_query(query, connection)
df

C:\Users\Станислав\AppData\Local\Temp\ipykernel_19268\137330334.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

,name,replace
0,Junior+ CV/ML developer,"Python\tSQL\tРабота,в,команде\tOpenCV\tML"
1,Data Scientist,"Oracle,Pl/SQL\tБазы,данных\tMachine,Learning\t..."
2,Data Scientist (Junior+),"Python\tOpenCV\tTensorflow\tComputer,Vision\tН..."
3,AI/ML Senior Engineer,Python\tFlask\tLinux\tAWS\tGit
4,QA Automation TeamLead,"Atlassian,Jira\tФункциональное,тестирование\tS..."
...,...,...
519,C++ разработчик (QML),"Qt\tООП\tC++\tMS,Visual,Studio\tРазработка,ком..."
520,Middle+/Senior Data Scientist,"SCALA\tSQL\tМатематический,анализ\tСтатистичес..."
521,ML Engineer Team Lead (to Cyprus),"Python\tLinux\tKubernetes\tAWS\tGit\tPeople,Ma..."
522,Системный аналитик /Middle+/Senior/TeamLead,"UML\tSQL\tBPMN\tSOAP\tREST\tПостановка,задач,р..."
523,"Frontend разработчик, VueJS (Senior), TeamLead","Git\tJavaScript\tHTML\tCSS\tVue.js\tVue\tREST,..."

In [117]:
query = f''' select  length(replace(key_skills,',',
''))
     from public.vacancies v
     
         
    '''

In [118]:
df = pd.read_sql_query(query, connection)
df

C:\Users\Станислав\AppData\Local\Temp\ipykernel_6684\137330334.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

       length
0       138.0
1       125.0
2        43.0
3        43.0
4         NaN
...       ...
49192   276.0
49193    77.0
49194   104.0
49195    52.0
49196     NaN

[49197 rows x 1 columns]

In [170]:
query = f''' select name, key_skills
     from public.vacancies v
     where name ilike '%DS%'
     '''

In [78]:
query = f''' select name, REPLACE((key_skills, 'SQL', ' ')
 (key_skills, 'postgres', ' ') (key_skills, 'Python', ' '))
     from public.vacancies v
     where name ilike '%DS%'
     '''

In [79]:
df = pd.read_sql_query(query, connection)
df

C:\Users\Станислав\AppData\Local\Temp\ipykernel_3460\137330334.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

DatabaseError: Execution failed on sql ' select name, REPLACE((key_skills, 'SQL', ' ')
 (key_skills, 'postgres', ' ') (key_skills, 'Python', ' '))
     from public.vacancies v
     where name ilike '%DS%'
     ': syntax error at or near "("
LINE 2:  (key_skills, 'postgres', ' ') (key_skills, 'Python', ' '))
         ^

In [62]:
select 'select * from '||t.table_schema||'.'||t.table_name||';' query
from information_schema.tables t
where table_schema = 'shipping'

SyntaxError: invalid syntax (3602166826.py, line 1)

In [64]:
query = f'''select
    name, format('Hello, %s',key_skills) 

    -- name, key_skills
    from public.vacancies v
    where
    name ilike '%DS%'
    and
    (key_skills ilike '%SQL%' 
    or
    key_skills ilike '%postgres%' 
    or
    key_skills ilike '% Python%')'''

In [65]:
df = pd.read_sql_query(query, connection)
df

C:\Users\Станислав\AppData\Local\Temp\ipykernel_3460\137330334.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

,name,format
0,Ведущий программист DS/DE,"Hello, Python\tSQL\tGit\tBig Data\tSpark"
1,Ведущий программист DS/DE,"Hello, Python\tSQL\tGit\tBig Data\tSpark"
2,Ведущий программист DS/DE,"Hello, Python\tSQL\tGit\tBig Data\tSpark"
3,Ведущий программист DS/DE,"Hello, Python\tSQL\tGit\tBig Data\tSpark"
4,"Product/Web Analyst, Greeting Cards App","Hello, Английский язык\tAnalytical skills\tBus..."
5,"Product/Web Analyst, Greeting Cards App","Hello, Английский язык\tAnalytical skills\tBus..."
6,ML/DS Team Lead,"Hello, PyTorch\tPython\tSQL\tУправление проект..."
7,Специалист Tableau Dashboards,"Hello, SQL\tTableau\tАналитическое мышление\tD..."
8,"Старший разработчик Go, Команда платёжного фас...","Hello, SQL\tGolang\tIT\tФинансы\tАлгоритмы и с..."
9,"Старший разработчик Go, Команда платёжного фас...","Hello, SQL\tGolang\tIT\tФинансы\tАлгоритмы и с..."
10,"Старший разработчик Go, Команда платёжного фас...","Hello, SQL\tGolang\tIT\tФинансы\tАлгоритмы и с..."
11,"Старший разработчик Go, Команда платёжного фас...","Hello, SQL\tGolang\tIT\tФинансы\tАлгоритмы и с..."
12,Старший инженер данных TDS / Data engineer,"Hello, Hadoop\tHive\tPython\tPostgreSQL\tSQL"
13,"Middle DS, проекты по разработке симуляционных...","Hello, Python\tМатематическая статистика\tSQL\..."
14,Middle DS специалист (разработка симуляционных...,"Hello, Python\tМатематическая статистика\tSQL\..."