##### 8. Проверка знаний

✍️ А теперь проверим полученные знания на практике. 
Для выполнения практических заданий нам понадобится новый датасет.

Датасет болезней сердца содержит информацию о пациентах и переменную предсказания target — наличие у пациента болезни сердца.

Датасет содержит следующие признаки:
1. age — возраст
2. sex — пол (1 - мужчина, 0 - женщина)
3. cp — тип боли в груди (4 значения)
4. trestbps — артериальное давление в покое
5. chol — холестерин сыворотки в мг/дл
6. fbs — уровень сахара в крови натощак > 120 мг/дл
7. restecg — результаты электрокардиографии в покое (значения 0,1,2)
8. thalach — достигнута максимальная частота сердечных сокращений
9. exang — стенокардия, вызванная физической нагрузкой
10. oldpeak — депрессия ST, вызванная физической нагрузкой, по сравнению с состоянием покоя
11. slope — наклон пикового сегмента ST при нагрузке
12. ca — количество крупных сосудов (0-3), окрашенных при флюроскопии
13. thal — дефект, где 3 = нормальный; 6 = фиксированный дефект; 7 = обратимый дефект

In [1]:
import pandas as pd
import numpy as np
from ydata_profiling import ProfileReport

In [2]:
heart = pd.read_csv('heart.csv')
heart.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [3]:
heart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [4]:
# Задание 8.1
# Создайте новый признак old, где 1 — при возрасте пациента более 60 лет.
# В ответ введите результат выполнения кода heart['old'].sum().
#apply() Применение функции к одной из осей фрейма данных
#lambda-функция может принимать любое количество аргументов, но может иметь только одно выражение.
heart['old'] = heart['age'].apply(lambda x: 1 if x > 60 else 0)
heart['old'].sum()

79

*Информацию о среднем давлении для возраста и пола возьмите из этой таблицы. В таблице систолическое давление написано первым, перед дробной чертой.*

Возраст (лет)	Мужчины	  Женщины
до 20	        123/76	  116/72
21-30	        126/79	  120/75
31-40	        129/81	  127/80
41-50	        135/83	  137/84
51-60	        142/85	  144/85
61 и старше	    142/80	  159/85

In [13]:
# Задание 8.2
# Создайте новый признак trestbps_mean, который будет обозначать норму давления в среднем для его возраста и пола. trestbps — систолическое артериальное давление в состоянии покоя.
# Информацию о среднем давлении для возраста и пола возьмите из этой таблицы. В таблице систолическое давление написано первым, перед дробной чертой.

In [11]:
# Пример кода на Python (pandas)
# python
def get_trestbps_mean(age, sex): # Ключевое def слово используется для создания (или определения) функции. Метод get()возвращает значение элемента с указанным ключом.
    # sex: 1 — мужчина, 0 — женщина (или используйте ваши обозначения)
    if age <= 20:
        return 123 if sex == 1 else 116 # Ключевое return слово — выход из функции и возврат значения.
    elif 21 <= age <= 30:
        return 126 if sex == 1 else 120
    elif 31 <= age <= 40:
        return 129 if sex == 1 else 127
    elif 41 <= age <= 50:
        return 135 if sex == 1 else 137
    elif 51 <= age <= 60:
        return 142 if sex == 1 else 144
    elif age >= 61:
        return 142 if sex == 1 else 159
    else:
        # Для возраста младше 20 лет — используйте детские нормы или NaN
        return None

In [13]:
heart.loc[300]

age               68.0
sex                1.0
cp                 0.0
trestbps         144.0
chol             193.0
fbs                1.0
restecg            1.0
thalach          141.0
exang              0.0
oldpeak            3.4
slope              1.0
ca                 2.0
thal               3.0
target             0.0
old                1.0
trestbps_mean    142.0
Name: 300, dtype: float64

Условия и операторы If в Python
Эти условия можно использовать несколькими способами, чаще всего в «условных операторах» и циклах.
* «Оператор if» записывается с использованием ключевого слова *if* .
* Ключевое слово *elif* — это способ Python сказать: «Если предыдущие условия не верны, то попробуйте это условие».
* Ключевое слово *else* улавливает все, что не улавливается предыдущими условиями.
* Ключевое *def* слово используется для создания (или определения) функции.
* Ключевое *return* слово — выход из функции и возврат значения.

In [18]:
 heart.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,old,trestbps_mean
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1,1,142
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1,0,129
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1,0,137
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1,0,142
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1,0,144

In [21]:
# Пример для DataFrame df с колонками 'age' и 'sex'
heart['trestbps_mean'] = heart.apply(lambda row: get_trestbps_mean(row['age'], row['sex']), axis=1) # row строка
heart['trestbps_mean'].loc[300]

142

Краткое объяснение
* Таблица норм давления по возрасту и полу взята из медицинских источников.
* Признак trestbps_mean позволит сравнивать индивидуальное давление пациента (trestbps) с нормой для его демографической группы.
* Для женщин и мужчин нормы немного различаются — используйте соответствующие значения.
Источники таблицы
* Нормы давления по возрасту и полу взяты из медицинских справочников и статей.
* Для большинства взрослых различие между полами незначительно, но оно есть, особенно в старших возрастных группах.
Итого:
* Создайте новый признак trestbps_mean на основе таблицы норм, используя возраст и пол пациента, чтобы получить среднее нормальное систолическое давление для сравнения с индивидуальным показателем.

In [20]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

dataframe.drop(labels, axis, index, columns, level, inplace, errors)

* labels - Этикетки. Если не указано иное, значения помечаются их индексом. Первое значение имеет индекс 0, второе значение — индекс 1 и т. д.
Эту метку можно использовать для доступа к указанному значению.
* axis - Метод set_axis() позволяет задать индекс указанной оси. Используйте axis='columns'параметр для установки меток столбцов. 0 - index, 1 - columns
* index - Свойство index возвращает информацию об индексе DataFrame.
* columns - Свойство columns возвращает метку каждого столбца в DataFrame.
* level -
* inplace -
* errors -

Задание 8.3
Проанализируйте датасет и выберите категориальные признаки.
* sex - пол (1 - мужчина, 0 - женщина)
* cp - тип боли в груди (4 значения)
* fbs — уровень сахара в крови натощак > 120 мг/дл
oldpeak — депрессия ST, вызванная физической нагрузкой, по сравнению с состоянием покоя
* restecg — результаты электрокардиографии в покое (значения 0,1,2)
* exang — стенокардия, вызванная физической нагрузкой
age — возраст
* slope — наклон пикового сегмента ST при нагрузке
* ca — количество крупных сосудов (0-3), окрашенных при флюроскопии
* thal — дефект, где 3 = нормальный; 6 = фиксированный дефект; 7 = обратимый дефект
* target

Категориальные признаки — это признаки (или переменные), значения которых обозначают принадлежность объекта к определённой категории или группе, а не количественную характеристику.
Основные характеристики
Значения категориальных признаков — это метки, названия или коды, которые нельзя осмысленно складывать или усреднять.

Категориальные признаки часто представлены строками (например, "красный", "синий", "зелёный") или целыми числами, которые просто кодируют категории (например, 0 — "мужчина", 1 — "женщина").

Примеры: пол, город проживания, профессия, марка автомобиля, группа крови, национальность.

Виды категориальных признаков
Вид	                               Описание	                                                                        Примеры
Номинальные	                       Категории не имеют естественного порядка	                                        Цвет, город, пол
Порядковые (ординальные)	       Категории можно упорядочить, но разница между ними не измеряется количественно	Размер одежды (S, M, L), уровень образования

Особенности работы с категориальными признаками
* Для большинства алгоритмов машинного обучения такие признаки нужно преобразовывать в числовой формат (например, с помощью label encoding или one-hot encoding).

Категориальные признаки также называют номинальными или факторными.

Как отличить категориальный признак
* Если значения признака — это группы, а не числа, которые можно складывать или усреднять, то это категориальный признак.
* Если невозможно осмысленно вычислить среднее значение признака, скорее всего, он категориальный.

Примеры категориальных признаков:
* Пол (мужчина/женщина)
* Цвет автомобиля (красный, синий, чёрный)
* Город проживания (Москва, Санкт-Петербург, Казань)
* Группа крови (A, B, AB, O)

Категориальные признаки широко используются в анализе данных и требуют специальной обработки для использования в моделях машинного обучения.

In [28]:
heart.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,old,trestbps_mean
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1,1,142
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1,0,129
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1,0,137
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1,0,142
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1,0,144

In [29]:
heart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            303 non-null    int64
 1   sex            303 non-null    int64
 2   cp             303 non-null    int64
 3   trestbps       303 non-null    int64
 4   chol           303 non-null    int64
 5   fbs            303 non-null    int64
 6   restecg        303 non-null    int64
 7   thalach        303 non-null    int64
 8   exang          303 non-null    int64
 9   oldpeak        303 non-null    float64
 10  slope          303 non-null    int64
 11  ca             303 non-null    int64
 12  thal           303 non-null    int64
 13  target         303 non-null    int64
 14  old            303 non-null    int64
 15  trestbps_mean  303 non-null    int64
dtypes: float64(1), int64(15)
memory usage: 38.0 KB

In [30]:
import category_encoders as ce

Задание 8.4
Вышеперечисленные категориальные признаки уже представлены в числовом виде. Проанализируйте их и назовите те, которые нуждаются в дополнительном кодировании значений (например, OneHotEncoding).
Учтите, что дополнительные методы кодирования требуются только для категориальных признаков с более чем двумя категориями. Бинарные признаки (принимающие два значения, такие как 0 и 1) не нуждаются в дополнительном кодировании.
sex
* cp
fbs
oldpeak
* restecg
exang
age
* slope
* ca
* thal
target
Признаки cp, restecg, slope, ca, thal представляют собой категориальные признаки с более чем двумя категориями и требуют дополнительного кодирования для использования в моделях машинного обучения.

In [79]:
# Задание 8.5
# Закодируйте вышеперечисленные признаки методом OneHotEncoding, удалив исходные признаки.
# Сколько признаков получилось в датасете?
import category_encoders as ce # импорт для работы с кодировщиком
encoder = ce.OneHotEncoder(cols=['cp'], use_cat_names=True) # указываем столбец для кодирования
cp_bin = encoder.fit_transform(heart['cp'])
heart1 = pd.concat([heart, cp_bin], axis=1)
heart1 = heart1.drop(['cp'], axis=1)
heart1.head()

,age,sex,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,...,old,trestbps_mean,cp_3.0,cp_2.0,cp_1.0,cp_0.0,cp_3.0,cp_2.0,cp_1.0,cp_0.0
0,63,1,145,233,1,0,150,0,2.3,0,...,1,142,1,0,0,0,1,0,0,0
1,37,1,130,250,0,1,187,0,3.5,0,...,0,129,0,1,0,0,0,1,0,0
2,41,0,130,204,0,0,172,0,1.4,2,...,0,137,0,0,1,0,0,0,1,0
3,56,1,120,236,0,1,178,0,0.8,2,...,0,142,0,0,1,0,0,0,1,0
4,57,0,120,354,0,1,163,1,0.6,2,...,0,144,0,0,0,1,0,0,0,1

In [80]:
encoder = ce.OneHotEncoder(cols=['restecg'], use_cat_names=True) # указываем столбец для кодирования
restecg_bin = encoder.fit_transform(heart['restecg'])
heart1 = pd.concat([heart1, restecg_bin], axis=1)
heart1 = heart1.drop(['restecg'], axis=1)
heart1.head()

,age,sex,trestbps,chol,fbs,thalach,exang,oldpeak,slope,ca,...,cp_2.0,cp_1.0,cp_0.0,cp_3.0,cp_2.0,cp_1.0,cp_0.0,restecg_0.0,restecg_1.0,restecg_2.0
0,63,1,145,233,1,150,0,2.3,0,0,...,0,0,0,1,0,0,0,1,0,0
1,37,1,130,250,0,187,0,3.5,0,0,...,1,0,0,0,1,0,0,0,1,0
2,41,0,130,204,0,172,0,1.4,2,0,...,0,1,0,0,0,1,0,1,0,0
3,56,1,120,236,0,178,0,0.8,2,0,...,0,1,0,0,0,1,0,0,1,0
4,57,0,120,354,0,163,1,0.6,2,0,...,0,0,1,0,0,0,1,0,1,0

In [81]:
encoder = ce.OneHotEncoder(cols=['slope'], use_cat_names=True) # указываем столбец для кодирования
slope_bin = encoder.fit_transform(heart['slope'])
heart1 = pd.concat([heart1, slope_bin], axis=1)
heart1 = heart1.drop(['slope'], axis=1)
heart1.head()

,age,sex,trestbps,chol,fbs,thalach,exang,oldpeak,ca,thal,...,cp_3.0,cp_2.0,cp_1.0,cp_0.0,restecg_0.0,restecg_1.0,restecg_2.0,slope_0.0,slope_2.0,slope_1.0
0,63,1,145,233,1,150,0,2.3,0,1,...,1,0,0,0,1,0,0,1,0,0
1,37,1,130,250,0,187,0,3.5,0,2,...,0,1,0,0,0,1,0,1,0,0
2,41,0,130,204,0,172,0,1.4,0,2,...,0,0,1,0,1,0,0,0,1,0
3,56,1,120,236,0,178,0,0.8,0,2,...,0,0,1,0,0,1,0,0,1,0
4,57,0,120,354,0,163,1,0.6,0,2,...,0,0,0,1,0,1,0,0,1,0

In [82]:
encoder = ce.OneHotEncoder(cols=['ca'], use_cat_names=True) # указываем столбец для кодирования
ca_bin = encoder.fit_transform(heart['ca'])
heart1 = pd.concat([heart1, ca_bin], axis=1)
heart1 = heart1.drop(['ca'], axis=1)
heart1.head()

,age,sex,trestbps,chol,fbs,thalach,exang,oldpeak,thal,target,...,restecg_1.0,restecg_2.0,slope_0.0,slope_2.0,slope_1.0,ca_0.0,ca_2.0,ca_1.0,ca_3.0,ca_4.0
0,63,1,145,233,1,150,0,2.3,1,1,...,0,0,1,0,0,1,0,0,0,0
1,37,1,130,250,0,187,0,3.5,2,1,...,1,0,1,0,0,1,0,0,0,0
2,41,0,130,204,0,172,0,1.4,2,1,...,0,0,0,1,0,1,0,0,0,0
3,56,1,120,236,0,178,0,0.8,2,1,...,1,0,0,1,0,1,0,0,0,0
4,57,0,120,354,0,163,1,0.6,2,1,...,1,0,0,1,0,1,0,0,0,0

In [83]:
heart1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 31 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            303 non-null    int64
 1   sex            303 non-null    int64
 2   trestbps       303 non-null    int64
 3   chol           303 non-null    int64
 4   fbs            303 non-null    int64
 5   thalach        303 non-null    int64
 6   exang          303 non-null    int64
 7   oldpeak        303 non-null    float64
 8   thal           303 non-null    int64
 9   target         303 non-null    int64
 10  old            303 non-null    int64
 11  trestbps_mean  303 non-null    int64
 12  cp_3.0         303 non-null    int64
 13  cp_2.0         303 non-null    int64
 14  cp_1.0         303 non-null    int64
 15  cp_0.0         303 non-null    int64
 16  cp_3.0         303 non-null    int64
 17  cp_2.0         303 non-null    int64
 18  cp_1.0         303 non-null    int64
 19  cp_0.0         303 non-null    int64
 20  restecg_0.0    303 non-null    int64
 21  restecg_1.0    303 non-null    int64
 22  restecg_2.0    303 non-null    int64
 23  slope_0.0      303 non-null    int64
 24  slope_2.0      303 non-null    int64
 25  slope_1.0      303 non-null    int64
 26  ca_0.0         303 non-null    int64
 27  ca_2.0         303 non-null    int64
 28  ca_1.0         303 non-null    int64
 29  ca_3.0         303 non-null    int64
 30  ca_4.0         303 non-null    int64
dtypes: float64(1), int64(30)
memory usage: 73.5 KB

In [ ]:
# Задание 8.6
# Нормализуйте все числовые признаки подходящим способом.
# В ответе напишите стандартное отклонение признака chol. Ответ округлите до шести знаков после запятой.