##### 8. Проверка знаний

✍️ А теперь проверим полученные знания на практике. 
Для выполнения практических заданий нам понадобится новый датасет.

Датасет болезней сердца содержит информацию о пациентах и переменную предсказания target — наличие у пациента болезни сердца.

Датасет содержит следующие признаки:
1. age — возраст
2. sex — пол (1 - мужчина, 0 - женщина)
3. cp — тип боли в груди (4 значения)
4. trestbps — артериальное давление в покое
5. chol — холестерин сыворотки в мг/дл
6. fbs — уровень сахара в крови натощак > 120 мг/дл
7. restecg — результаты электрокардиографии в покое (значения 0,1,2)
8. thalach — достигнута максимальная частота сердечных сокращений
9. exang — стенокардия, вызванная физической нагрузкой
10. oldpeak — депрессия ST, вызванная физической нагрузкой, по сравнению с состоянием покоя
11. slope — наклон пикового сегмента ST при нагрузке
12. ca — количество крупных сосудов (0-3), окрашенных при флюроскопии
13. thal — дефект, где 3 = нормальный; 6 = фиксированный дефект; 7 = обратимый дефект

In [5]:
import pandas as pd
import numpy as np
from ydata_profiling import ProfileReport

In [6]:
heart = pd.read_csv('heart.csv')
heart.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [7]:
heart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [16]:
# Задание 8.1
# Создайте новый признак old, где 1 — при возрасте пациента более 60 лет.
# В ответ введите результат выполнения кода heart['old'].sum().
#apply() Применение функции к одной из осей фрейма данных
#lambda-функция может принимать любое количество аргументов, но может иметь только одно выражение.
heart['old'] = heart['age'].apply(lambda x: 1 if x > 60 else 0)
heart['old'].sum()

79

In [9]:
df_heart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

*Информацию о среднем давлении для возраста и пола возьмите из этой таблицы. В таблице систолическое давление написано первым, перед дробной чертой.*

Возраст (лет)	Мужчины	Женщины
до 20	123/76	116/72
21-30	126/79	120/75
31-40	129/81	127/80
41-50	135/83	137/84
51-60	142/85	144/85
61 и старше	142/80	159/85

In [24]:
# Задание 8.2
# Создайте новый признак trestbps_mean, который будет обозначать норму давления в среднем для его возраста и пола. trestbps — систолическое артериальное давление в состоянии покоя.
# Информацию о среднем давлении для возраста и пола возьмите из этой таблицы. В таблице систолическое давление написано первым, перед дробной чертой.
# heart['old'] = heart['age'].apply(lambda x: 1 if x > 60 else 0)
heart['trestbps_mean'] = heart['trestbps'].mean()
# .apply(lambda x: 1 if x > 60 else 0)
heart.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,old,trestbps_mean
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1,1,131.623762
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1,0,131.623762
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1,0,131.623762
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1,0,131.623762
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1,0,131.623762