In [ ]:
Соревнование

1.Описание набора данных
Файлы для соревнований
 *Hotels_train.csv — набор данных для обучения
 *Hotels_test.csv — набор данных для оценки качества
 *submit.csv — файл в нужном формате

2.Признаки
 1.hotel_address- адрес отеля
 2.review_date- дата, когда был выдан соответствующий отзыв.
 3.average_score- средний балл отеля, рассчитанный на основе последних комментариев за прошлый год
 4.hotel_name- название отеля
 5.reviewer_nationality- национальность рецензента
 6.negative_review- отрицательный отзыв, который дал отелю рецензент.
 7.review_total_negative_word_counts- общее количество слов в отрицательном отзыве
 8.positive_review- положительный отзыв, который дал отелю признательность
 9.review_total_positive_word_counts- общее количество слов в положительном отзыве
 10.reviewer_score- оценка, которую рецензент поставил отелю на основе своего опыта
 11.total_number_of_reviews_reviewer_has_given- количество отзывов, которые были оставлены в прошлом
 12.total_number_of_reviews- общее количество реальных отзывов об отелях
 13.tags- теги, которые наградил дал отелю.
 14.days_since_review- продолжительность между датой проверки и датой очистки
 15.additional_number_of_scoring- есть также некоторые гости, которые просто поставили оценку сервису, что не оставило отзыв. Это число указывает, сколько существует оценок без проверок.
 16.lat- широта отеля
 17.lng- долгота отеля

In [ ]:
✍ В нашем курсе и во всей специализации в дальнейшем мы будем использовать площадку Kaggle для проведения соревнований по машинному обучению. Да-да, мы помним, что вы ещё не начали изучение машинного обучения. Но ведь код для создания модели у вас уже есть? Значит, вы вполне можете представить свою первую модель на конкурс.
Итак, давайте рассмотрим последовательность действий, которые вам предстоит совершить:
1. Перейдите по этой ссылке для доступа к закрытому соревнованию на Kaggle, ознакомьтесь с правилами и примите их (вкладка Rules). https://www.kaggle.com/competitions/sf-booking
2. Используйте базовое решение в качестве основы, попробуйте улучшить его результат. Для этого сделайте сабмит своего решения и ищите себя в лидерборде.
3. Одержите победу в соревновании!
Как победить в соревновании?
При выполнении этого проекта у каждого должен получиться свой уникальный набор данных, содержащий уникальный набор признаков. Иными словами, мы не стремимся привести всех к единому результату и одинаковому «единственно правильному» набору признаков.
У вас в руках есть немало полезных инструментов и ценных знаний. Настало время экспериментов. Попробуйте «поиграть» с имеющимися в вашем распоряжении данными:
* добавляйте и удаляйте столбцы с признаками;
* попробуйте использовать разные способы представления информации об одном и том же признаке;
* используйте дополнительные источники информации о расположении отелей, чтобы лучше охарактеризовать среду, в которой находится отель;
* используйте различные преобразования признаков;
* разберите дату на несколько новых признаков;
* используйте отбор мультиколлинеарных признаков;
* пробуйте извлекать полезные данные из строковых признаков: в текстах отзывов, адресах или тегах отеля может скрываться важная информация;
* используйте кодирование признаков как оцифровку некоторых строковых значений.
Помните, ваша главная задача — добиться максимальной точности модели, которая предсказывает рейтинг отеля. 
После завершения экспериментов предоставьте свой код для проверки и обратной связи.
Используйте предложенные рекомендации для улучшения модели. Обучите модель, сделайте сабмит результата. Подумайте, как ещё можно изменить или дополнить признаки, чтобы улучшить модель, сохраните и сделайте сабмит нового решения. Если позволяет время, вы можете создать сколько угодно вариантов решения и выбрать лучшие из них, которые пойдут в лидерборд, но мы рекомендуем сделать минимум три варианта.
*"сабмит" может означать подачу, представление, отправку чего-либо. Например, "сабмитнуть документы" означает подать документы на рассмотрени* 
В следующем юните вы отправите свой проект на проверку ментору.
Удачи!

In [1]:
from sklearn.feature_selection import chi2
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import pyplot as plt

In [ ]:
kaggle competitions download -c sf-booking

In [3]:
df_tt = pd.read_csv('hotels_test1.csv')
df_tt.head(2)

,hotel_address,additional_number_of_scoring,review_date,average_score,hotel_name,reviewer_nationality,negative_review,review_total_negative_word_counts,total_number_of_reviews,positive_review,review_total_positive_word_counts,total_number_of_reviews_reviewer_has_given,tags,days_since_review,lat,lng
0,Via Senigallia 6 20161 Milan Italy,904,7/21/2017,8.1,Hotel Da Vinci,United Kingdom,Would have appreciated a shop in the hotel th...,52,16670,Hotel was great clean friendly staff free bre...,62,1,"[' Leisure trip ', ' Couple ', ' Double Room '...",13 days,45.533137,9.171102
1,Arlandaweg 10 Westpoort 1043 EW Amsterdam Neth...,612,12/12/2016,8.6,Urban Lodge Hotel,Belgium,No tissue paper box was present at the room,10,5018,No Positive,0,7,"[' Leisure trip ', ' Group ', ' Triple Room ',...",234 day,52.385649,4.834443

In [7]:
df_tt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128935 entries, 0 to 128934
Data columns (total 16 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   hotel_address                               128935 non-null  object
 1   additional_number_of_scoring                128935 non-null  int64
 2   review_date                                 128935 non-null  object
 3   average_score                               128935 non-null  float64
 4   hotel_name                                  128935 non-null  object
 5   reviewer_nationality                        128935 non-null  object
 6   negative_review                             128935 non-null  object
 7   review_total_negative_word_counts           128935 non-null  int64
 8   total_number_of_reviews                     128935 non-null  int64
 9   positive_review                             128935 non-null  object
 10  review_total_positive_word_counts           128935 non-null  int64
 11  total_number_of_reviews_reviewer_has_given  128935 non-null  int64
 12  tags                                        128935 non-null  object
 13  days_since_review                           128935 non-null  object
 14  lat                                         128115 non-null  float64
 15  lng                                         128115 non-null  float64
dtypes: float64(3), int64(5), object(8)
memory usage: 15.7+ MB

In [12]:
num_df_tt = df_tt['hotel_name'].nunique()
num_df_tt

1492

In [13]:
num_df_tn = df_tn['hotel_name'].nunique()
num_df_tn

1492

In [5]:
df_sn = pd.read_csv('submission1.csv')
df_sn.head(2)

   reviewer_score      id
0               1  488440
1              10  274649

In [9]:
df_sn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128935 entries, 0 to 128934
Data columns (total 2 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   reviewer_score  128935 non-null  int64
 1   id              128935 non-null  int64
dtypes: int64(2)
memory usage: 2.0 MB

Описание набора данных для соревнования обычно включает объяснение содержимого и назначения каждого файла, а также что ожидается от участников в итоговом файле для отправки. Вот пояснение по вашим файлам:

 * Hotels_train.csv — это тренировочный набор данных, который используется для обучения модели. В этом файле, как правило, содержатся данные с известными целевыми значениями (например, рейтингами, бронированиями, ценами и т.п.), на основе которых модель учится делать предсказания.

 * Hotels_test.csv — это тестовый набор данных, предназначенный для оценки качества модели. В этом файле данные представлены без целевых значений (labels). Задача участников — использовать обученную модель, чтобы сделать предсказания для этих данных.

 * submit.csv — это файл, который участник создает для подачи результатов своего решения. Он должен содержать прогнозы модели для данных из Hotels_test.csv в требуемом формате. Обычно это таблица с идентификаторами объектов (например, номерами отелей или заявок) и соответствующими предсказанными значениями, чтобы организаторы могли оценить качество модели.

Таким образом, процесс работы с набором данных выглядит так: сначала вы обучаете модель на данных из Hotels_train.csv, затем делаете предсказания на Hotels_test.csv и сохраняете результаты в submit.csv в соответствии с форматом, который требует соревнование. Именно submit.csv вы отправляете на проверку для оценки качества решения.

In [21]:
df_tn = pd.read_csv('hotels_train1.csv')
df_tn.head(2)

,hotel_address,additional_number_of_scoring,review_date,average_score,hotel_name,reviewer_nationality,negative_review,review_total_negative_word_counts,total_number_of_reviews,positive_review,review_total_positive_word_counts,total_number_of_reviews_reviewer_has_given,reviewer_score,tags,days_since_review,lat,lng
0,Stratton Street Mayfair Westminster Borough Lo...,581,2/19/2016,8.4,The May Fair Hotel,United Kingdom,Leaving,3,1994,Staff were amazing,4,7,10.0,"[' Leisure trip ', ' Couple ', ' Studio Suite ...",531 day,51.507894,-0.143671
1,130 134 Southampton Row Camden London WC1B 5AF...,299,1/12/2017,8.3,Mercure London Bloomsbury Hotel,United Kingdom,poor breakfast,3,1361,location,2,14,6.3,"[' Business trip ', ' Couple ', ' Standard Dou...",203 day,51.521009,-0.123097

In [22]:
df_tn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386803 entries, 0 to 386802
Data columns (total 17 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   hotel_address                               386803 non-null  object
 1   additional_number_of_scoring                386803 non-null  int64
 2   review_date                                 386803 non-null  object
 3   average_score                               386803 non-null  float64
 4   hotel_name                                  386803 non-null  object
 5   reviewer_nationality                        386803 non-null  object
 6   negative_review                             386803 non-null  object
 7   review_total_negative_word_counts           386803 non-null  int64
 8   total_number_of_reviews                     386803 non-null  int64
 9   positive_review                             386803 non-null  object
 10  review_total_positive_word_counts           386803 non-null  int64
 11  total_number_of_reviews_reviewer_has_given  386803 non-null  int64
 12  reviewer_score                              386803 non-null  float64
 13  tags                                        386803 non-null  object
 14  days_since_review                           386803 non-null  object
 15  lat                                         384355 non-null  float64
 16  lng                                         384355 non-null  float64
dtypes: float64(4), int64(5), object(8)
memory usage: 50.2+ MB

In [23]:
df_tn['review_date'] = pd.to_datetime(df_tn['review_date'], errors='coerce') # Преобразовать столбец с датами в формат datetime, если это ещё не сделано

In [24]:
df_tn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386803 entries, 0 to 386802
Data columns (total 17 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   hotel_address                               386803 non-null  object
 1   additional_number_of_scoring                386803 non-null  int64
 2   review_date                                 386803 non-null  datetime64[ns]
 3   average_score                               386803 non-null  float64
 4   hotel_name                                  386803 non-null  object
 5   reviewer_nationality                        386803 non-null  object
 6   negative_review                             386803 non-null  object
 7   review_total_negative_word_counts           386803 non-null  int64
 8   total_number_of_reviews                     386803 non-null  int64
 9   positive_review                             386803 non-null  object
 10  review_total_positive_word_counts           386803 non-null  int64
 11  total_number_of_reviews_reviewer_has_given  386803 non-null  int64
 12  reviewer_score                              386803 non-null  float64
 13  tags                                        386803 non-null  object
 14  days_since_review                           386803 non-null  object
 15  lat                                         384355 non-null  float64
 16  lng                                         384355 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(5), object(7)
memory usage: 50.2+ MB

In [25]:
# Проверим данные на наличие полных дубликатов:
print('Количество дубликатов: {}'.format(df_tn[df_tn.duplicated()].shape[0]))
# Удаляем дубликаты:
df_tn = df_tn.drop_duplicates()
print('Размер таблицы после удаления дубликатов: {}'.format(df_tn.shape))

Количество дубликатов: 307
Размер таблицы после удаления дубликатов: (386496, 17)

In [26]:
df_tn = df_tn.drop(['hotel_address', 'hotel_name', 'reviewer_nationality', 'negative_review', 
               'positive_review', 'tags', 'days_since_review'], axis = 1)
df_tn.head(2)

,additional_number_of_scoring,review_date,average_score,review_total_negative_word_counts,total_number_of_reviews,review_total_positive_word_counts,total_number_of_reviews_reviewer_has_given,reviewer_score,lat,lng
0,581,2016-02-19,8.4,3,1994,4,7,10.0,51.507894,-0.143671
1,299,2017-01-12,8.3,3,1361,2,14,6.3,51.521009,-0.123097

In [30]:
df_tn = df_tn.drop(['review_date'], axis = 1)
df_tn.head(2)

,additional_number_of_scoring,average_score,review_total_negative_word_counts,total_number_of_reviews,review_total_positive_word_counts,total_number_of_reviews_reviewer_has_given,reviewer_score,lat,lng
0,581,8.4,3,1994,4,7,10.0,51.507894,-0.143671
1,299,8.3,3,1361,2,14,6.3,51.521009,-0.123097

In [31]:
df_tn.info()

<class 'pandas.core.frame.DataFrame'>
Index: 386496 entries, 0 to 386802
Data columns (total 9 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   additional_number_of_scoring                386496 non-null  int64
 1   average_score                               386496 non-null  float64
 2   review_total_negative_word_counts           386496 non-null  int64
 3   total_number_of_reviews                     386496 non-null  int64
 4   review_total_positive_word_counts           386496 non-null  int64
 5   total_number_of_reviews_reviewer_has_given  386496 non-null  int64
 6   reviewer_score                              386496 non-null  float64
 7   lat                                         384048 non-null  float64
 8   lng                                         384048 non-null  float64
dtypes: float64(4), int64(5)
memory usage: 29.5 MB

In [32]:
    # Разбиваем датафрейм на части, необходимые для обучения и тестирования модели  
    # Х — данные с информацией об отелях, у — целевая переменная (рейтинги отелей)  
    X = df_tn.drop(['reviewer_score'], axis = 1)  
    y = df_tn['reviewer_score']  
    y=y.astype('int') # означает, что объект y (например, столбец pandas.Series, содержащий данные) преобразуется к типу данных целое число (integer).  
    # Загружаем специальный инструмент для разбивки:  
    from sklearn.model_selection import train_test_split  
      
    # Наборы данных с меткой "train" будут использоваться для обучения модели, "test" — для тестирования.  
    # Для тестирования мы будем использовать 25 % от исходного датасета.  
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [33]:
(X < 0).sum()

additional_number_of_scoring                       0
average_score                                      0
review_total_negative_word_counts                  0
total_number_of_reviews                            0
review_total_positive_word_counts                  0
total_number_of_reviews_reviewer_has_given         0
lat                                                0
lng                                           192242
dtype: int64

In [34]:
mask = X['lng'] >= 0
X = X.loc[mask]
y = y.loc[mask]

In [35]:
cat_cols = ['average_score', 'lat', 'lng']
X_filled = X[cat_cols].fillna(0)
X_filled = X_filled[X_filled['lng'] >= 0] # Если нужно удалить строки с отрицательными lng (только по этому столбцу):
# X_filled = X[['average_score', 'lat', 'lng']].fillna(0)

In [36]:
(X < 0).sum()

additional_number_of_scoring                  0
average_score                                 0
review_total_negative_word_counts             0
total_number_of_reviews                       0
review_total_positive_word_counts             0
total_number_of_reviews_reviewer_has_given    0
lat                                           0
lng                                           0
dtype: int64

In [45]:
# 1. Проверить наличие NaN
print(X_filled[cat_cols].isnull().sum())
# print(pd.isnull(y).sum())

average_score    0
lat              0
lng              0
dtype: int64

In [40]:
print((X_filled[cat_cols] < 0).sum())

average_score    0
lat              0
lng              0
dtype: int64

In [41]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Index: 191806 entries, 2 to 386799
Data columns (total 8 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   additional_number_of_scoring                191806 non-null  int64
 1   average_score                               191806 non-null  float64
 2   review_total_negative_word_counts           191806 non-null  int64
 3   total_number_of_reviews                     191806 non-null  int64
 4   review_total_positive_word_counts           191806 non-null  int64
 5   total_number_of_reviews_reviewer_has_given  191806 non-null  int64
 6   lat                                         191806 non-null  float64
 7   lng                                         191806 non-null  float64
dtypes: float64(3), int64(5)
memory usage: 13.2 MB

In [42]:
y.info()

<class 'pandas.core.series.Series'>
Index: 191806 entries, 2 to 386799
Series name: reviewer_score
Non-Null Count   Dtype
--------------   -----
191806 non-null  int32
dtypes: int32(1)
memory usage: 2.2 MB

In [43]:
imp_cat = pd.Series(chi2(X_filled[cat_cols], y)[0], index=cat_cols)

In [44]:
import numpy as np
from sklearn.ensemble import RandomForestRegressor  # пример модели
from sklearn.metrics import mean_absolute_percentage_error
# Обучение модели (пример)
model = RandomForestRegressor(random_state=42)
model.fit(X_train, y_train)
# Предсказания на тесте
y_pred = model.predict(X_test)
# Расчёт MAPE
mape_value = mean_absolute_percentage_error(y_test, y_pred) * 100  # умножаем на 100 для %
print(f"MAPE на тестовой выборке: {mape_value:.2f}%")

MAPE на тестовой выборке: 16.74%

In [47]:
X_train
# X_test
# y_train
# y_test

,additional_number_of_scoring,average_score,review_total_negative_word_counts,total_number_of_reviews,review_total_positive_word_counts,total_number_of_reviews_reviewer_has_given,lat,lng
116139,301,8.8,14,1071,32,8,51.468956,-0.178726
120556,245,7.5,61,2362,27,5,52.315453,4.996300
329558,542,8.2,3,2266,5,3,51.522247,-0.142613
211280,354,8.3,4,1871,4,8,51.529860,-0.144462
73822,68,8.6,68,664,12,3,48.191830,16.377088
...,...,...,...,...,...,...,...,...
259308,392,8.8,100,1803,0,1,51.529441,-0.123374
366109,804,9.1,16,3802,6,23,51.505151,-0.100472
131958,275,8.5,34,3748,31,11,48.175628,16.420096
146903,243,8.8,8,1039,20,12,51.507746,-0.137873
121980,728,8.9,13,3168,43,1,51.528677,-0.128349

In [48]:
 X_test

,additional_number_of_scoring,average_score,review_total_negative_word_counts,total_number_of_reviews,review_total_positive_word_counts,total_number_of_reviews_reviewer_has_given,lat,lng
129228,694,8.7,14,2332,27,27,51.508372,0.035577
377913,60,9.2,0,259,40,8,51.511783,-0.119417
179157,1485,7.5,7,6977,6,28,51.519569,-0.170521
157587,378,8.7,0,1543,154,1,51.509963,-0.129797
296755,163,8.7,2,1319,15,49,41.393550,2.162710
...,...,...,...,...,...,...,...,...
50978,1322,8.4,5,6117,2,1,51.501400,-0.116009
165107,62,9.3,2,169,2,8,51.501572,-0.162851
106173,597,7.9,20,2308,7,19,51.516191,-0.157949
170746,101,9.4,68,824,13,3,48.204576,16.356366
318564,244,8.5,0,1831,3,1,51.491888,-0.194971

In [49]:
y_train

116139     9
120556     7
329558     9
211280     8
73822      7
          ..
259308     5
366109     7
131958     7
146903     7
121980    10
Name: reviewer_score, Length: 289872, dtype: int32

In [50]:
y_test

129228    10
377913     9
179157     8
157587    10
296755     9
          ..
50978      7
165107    10
106173     8
170746     8
318564     8
Name: reviewer_score, Length: 96624, dtype: int32