In [1]:
from sklearn.feature_selection import chi2
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import pyplot as plt

In [2]:
df = pd.read_csv('hotels.csv')
df.head(2)

,hotel_address,additional_number_of_scoring,review_date,average_score,hotel_name,reviewer_nationality,negative_review,review_total_negative_word_counts,total_number_of_reviews,positive_review,review_total_positive_word_counts,total_number_of_reviews_reviewer_has_given,reviewer_score,tags,days_since_review,lat,lng
0,Stratton Street Mayfair Westminster Borough Lo...,581,2/19/2016,8.4,The May Fair Hotel,United Kingdom,Leaving,3,1994,Staff were amazing,4,7,10.0,"[' Leisure trip ', ' Couple ', ' Studio Suite ...",531 day,51.507894,-0.143671
1,130 134 Southampton Row Camden London WC1B 5AF...,299,1/12/2017,8.3,Mercure London Bloomsbury Hotel,United Kingdom,poor breakfast,3,1361,location,2,14,6.3,"[' Business trip ', ' Couple ', ' Standard Dou...",203 day,51.521009,-0.123097

In [3]:
df.tail(2)

,hotel_address,additional_number_of_scoring,review_date,average_score,hotel_name,reviewer_nationality,negative_review,review_total_negative_word_counts,total_number_of_reviews,positive_review,review_total_positive_word_counts,total_number_of_reviews_reviewer_has_given,reviewer_score,tags,days_since_review,lat,lng
386801,31 Great Cumberland Place Westminster Borough ...,365,5/21/2017,8.1,The Marble Arch London,United Arab Emirates,No Negative,0,1567,Location and very comfy bed,6,28,9.2,"[' Leisure trip ', ' Solo traveler ', ' Deluxe...",74 days,51.515125,-0.160066
386802,25 Courtfield Gardens Kensington and Chelsea L...,222,8/5/2016,9.0,The Nadler Kensington,Australia,Patio outside could have been cleaned of alga...,20,1209,Beds comfortable Pillows also good Homely fee...,20,2,8.8,"[' Leisure trip ', ' Couple ', ' Bunk Bed Room...",363 day,51.493109,-0.190208

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386803 entries, 0 to 386802
Data columns (total 17 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   hotel_address                               386803 non-null  object
 1   additional_number_of_scoring                386803 non-null  int64
 2   review_date                                 386803 non-null  object
 3   average_score                               386803 non-null  float64
 4   hotel_name                                  386803 non-null  object
 5   reviewer_nationality                        386803 non-null  object
 6   negative_review                             386803 non-null  object
 7   review_total_negative_word_counts           386803 non-null  int64
 8   total_number_of_reviews                     386803 non-null  int64
 9   positive_review                             386803 non-null  object
 10  review_total_positive_word_counts           386803 non-null  int64
 11  total_number_of_reviews_reviewer_has_given  386803 non-null  int64
 12  reviewer_score                              386803 non-null  float64
 13  tags                                        386803 non-null  object
 14  days_since_review                           386803 non-null  object
 15  lat                                         384355 non-null  float64
 16  lng                                         384355 non-null  float64
dtypes: float64(4), int64(5), object(8)
memory usage: 50.2+ MB

In [5]:
df['review_date'] = pd.to_datetime(df['review_date'], errors='coerce')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386803 entries, 0 to 386802
Data columns (total 17 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   hotel_address                               386803 non-null  object
 1   additional_number_of_scoring                386803 non-null  int64
 2   review_date                                 386803 non-null  datetime64[ns]
 3   average_score                               386803 non-null  float64
 4   hotel_name                                  386803 non-null  object
 5   reviewer_nationality                        386803 non-null  object
 6   negative_review                             386803 non-null  object
 7   review_total_negative_word_counts           386803 non-null  int64
 8   total_number_of_reviews                     386803 non-null  int64
 9   positive_review                             386803 non-null  object
 10  review_total_positive_word_counts           386803 non-null  int64
 11  total_number_of_reviews_reviewer_has_given  386803 non-null  int64
 12  reviewer_score                              386803 non-null  float64
 13  tags                                        386803 non-null  object
 14  days_since_review                           386803 non-null  object
 15  lat                                         384355 non-null  float64
 16  lng                                         384355 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(5), object(7)
memory usage: 50.2+ MB

In [7]:
# 1 Посмотреть первые несколько значений столбца:
print(df['tags'].head(10))
# Это покажет, как выглядят теги — есть ли там списки, строки с разделителями, кавычки и т.д.

0    [' Leisure trip ', ' Couple ', ' Studio Suite ...
1    [' Business trip ', ' Couple ', ' Standard Dou...
2    [' Leisure trip ', ' Solo traveler ', ' Modern...
3    [' Leisure trip ', ' Solo traveler ', ' Standa...
4    [' Business trip ', ' Couple ', ' Standard Dou...
5    [' Business trip ', ' Solo traveler ', ' Super...
6    [' Leisure trip ', ' Couple ', ' Double Room N...
7    [' Leisure trip ', ' Couple ', ' Superior Doub...
8    [' Leisure trip ', ' Couple ', ' Double Room '...
9    [' Leisure trip ', ' Couple ', ' Twin Hilton G...
Name: tags, dtype: object

In [8]:
# 2 Узнать тип данных столбца:
print(df['tags'].dtype)

object

In [9]:
# 3 Посмотреть распределение или примеры уникальных значений:
print(df['tags'].dropna().unique()[:10])
# или
print(df['tags'].value_counts().head(10))

["[' Leisure trip ', ' Couple ', ' Studio Suite ', ' Stayed 2 nights ', ' Submitted from a mobile device ']"
 "[' Business trip ', ' Couple ', ' Standard Double Room ', ' Stayed 1 night ']"
 "[' Leisure trip ', ' Solo traveler ', ' Modern Double Room Echo ', ' Stayed 3 nights ', ' Submitted from a mobile device ']"
 "[' Leisure trip ', ' Solo traveler ', ' Standard Room with 1 Double Bed ', ' Stayed 1 night ']"
 "[' Business trip ', ' Couple ', ' Standard Double or Twin Room ', ' Stayed 6 nights ']"
 "[' Business trip ', ' Solo traveler ', ' Superior Twin Room ', ' Stayed 1 night ', ' Submitted from a mobile device ']"
 "[' Leisure trip ', ' Couple ', ' Double Room Non Smoking ', ' Stayed 1 night ', ' Submitted from a mobile device ']"
 "[' Leisure trip ', ' Couple ', ' Superior Double Room ', ' Stayed 4 nights ']"
 "[' Leisure trip ', ' Couple ', ' Double Room ', ' Stayed 1 night ']"
 "[' Leisure trip ', ' Couple ', ' Twin Hilton Guest Room ', ' Stayed 1 night ', ' Submitted from a mobile device ']"]
tags
[' Leisure trip ', ' Couple ', ' Double Room ', ' Stayed 1 night ', ' Submitted from a mobile device ']              3853
[' Leisure trip ', ' Couple ', ' Standard Double Room ', ' Stayed 1 night ', ' Submitted from a mobile device ']     3673
[' Leisure trip ', ' Couple ', ' Superior Double Room ', ' Stayed 1 night ', ' Submitted from a mobile device ']     3274
[' Leisure trip ', ' Couple ', ' Deluxe Double Room ', ' Stayed 1 night ', ' Submitted from a mobile device ']       2964
[' Leisure trip ', ' Couple ', ' Double Room ', ' Stayed 2 nights ', ' Submitted from a mobile device ']             2454
[' Leisure trip ', ' Couple ', ' Superior Double Room ', ' Stayed 2 nights ', ' Submitted from a mobile device ']    2330
[' Leisure trip ', ' Couple ', ' Double Room ', ' Stayed 1 night ']                                                  2181
[' Leisure trip ', ' Couple ', ' Standard Double Room ', ' Stayed 2 nights ', ' Submitted from a mobile device ']    2163
[' Leisure trip ', ' Couple ', ' Standard Double Room ', ' Stayed 1 night ']                                         1965
[' Leisure trip ', ' Couple ', ' Deluxe Double Room ', ' Stayed 2 nights ', ' Submitted from a mobile device ']      1771
Name: count, dtype: int64

In [10]:
# 4 Проверить, есть ли пустые или необычные значения:
print(df['tags'].isna().sum())    # количество пропусков
print(df.loc[df['tags'].isna()])  # строки с пропусками в tags
# означает, что в вашем DataFrame сейчас нет ни одной строки данных (пустой DataFrame).

0
Empty DataFrame
Columns: [hotel_address, additional_number_of_scoring, review_date, average_score, hotel_name, reviewer_nationality, negative_review, review_total_negative_word_counts, total_number_of_reviews, positive_review, review_total_positive_word_counts, total_number_of_reviews_reviewer_has_given, reviewer_score, tags, days_since_review, lat, lng]
Index: []

In [11]:
# 5 Если значения в виде строк со списками или скобками, можно вывести срез по конкретной строке для подробного анализа:
print(df.loc[0, 'tags'])

[' Leisure trip ', ' Couple ', ' Studio Suite ', ' Stayed 2 nights ', ' Submitted from a mobile device ']

In [12]:
# Из-за этого, естественно, при попытке вывести примеры из столбца tags или других ничего не покажется.
# Что проверить дальше
#  Убедитесь, что данные действительно загружены в DataFrame df и он не пустой:
print(df.shape)  # Покажет количество строк и столбцов
print(df.head())  # Покажет первые несколько строк с данными

(386803, 17)
                                       hotel_address  \
0  Stratton Street Mayfair Westminster Borough Lo...
1  130 134 Southampton Row Camden London WC1B 5AF...
2   151 bis Rue de Rennes 6th arr 75006 Paris France
3  216 Avenue Jean Jaures 19th arr 75019 Paris Fr...
4          Molenwerf 1 1014 AG Amsterdam Netherlands

   additional_number_of_scoring review_date  average_score  \
0                           581  2016-02-19            8.4
1                           299  2017-01-12            8.3
2                            32  2016-10-18            8.9
3                            34  2015-09-22            7.5
4                           914  2016-03-05            8.5

                                  hotel_name reviewer_nationality  \
0                         The May Fair Hotel      United Kingdom
1            Mercure London Bloomsbury Hotel      United Kingdom
2          Legend Saint Germain by Elegancia               China
3  Mercure Paris 19 Philharmonie La Villette      United Kingdom
4                Golden Tulip Amsterdam West              Poland

       negative_review  review_total_negative_word_counts  \
0             Leaving                                   3
1       poor breakfast                                  3
2   No kettle in room                                   6
3          No Negative                                  0
4         Torn sheets                                   4

   total_number_of_reviews                                    positive_review  \
0                     1994                                 Staff were amazing
1                     1361                                           location
2                      406                                        No Positive
3                      607   Friendly staff quiet comfortable room spotles...
4                     7586   The staff was very friendly and helpful Break...

   review_total_positive_word_counts  \
0                                  4
1                                  2
2                                  0
3                                 11
4                                 20

   total_number_of_reviews_reviewer_has_given  reviewer_score  \
0                                           7            10.0
1                                          14             6.3
2                                          14             7.5
3                                           8            10.0
4                                          10             9.6

                                                tags days_since_review  \
0  [' Leisure trip ', ' Couple ', ' Studio Suite ...           531 day
1  [' Business trip ', ' Couple ', ' Standard Dou...           203 day
2  [' Leisure trip ', ' Solo traveler ', ' Modern...           289 day
3  [' Leisure trip ', ' Solo traveler ', ' Standa...           681 day
4  [' Business trip ', ' Couple ', ' Standard Dou...           516 day

         lat       lng
0  51.507894 -0.143671
1  51.521009 -0.123097
2  48.845377  2.325643
3  48.888697  2.394540
4  52.385601  4.847060

In [13]:
df.head(2)

,hotel_address,additional_number_of_scoring,review_date,average_score,hotel_name,reviewer_nationality,negative_review,review_total_negative_word_counts,total_number_of_reviews,positive_review,review_total_positive_word_counts,total_number_of_reviews_reviewer_has_given,reviewer_score,tags,days_since_review,lat,lng
0,Stratton Street Mayfair Westminster Borough Lo...,581,2016-02-19,8.4,The May Fair Hotel,United Kingdom,Leaving,3,1994,Staff were amazing,4,7,10.0,"[' Leisure trip ', ' Couple ', ' Studio Suite ...",531 day,51.507894,-0.143671
1,130 134 Southampton Row Camden London WC1B 5AF...,299,2017-01-12,8.3,Mercure London Bloomsbury Hotel,United Kingdom,poor breakfast,3,1361,location,2,14,6.3,"[' Business trip ', ' Couple ', ' Standard Dou...",203 day,51.521009,-0.123097

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386803 entries, 0 to 386802
Data columns (total 17 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   hotel_address                               386803 non-null  object
 1   additional_number_of_scoring                386803 non-null  int64
 2   review_date                                 386803 non-null  datetime64[ns]
 3   average_score                               386803 non-null  float64
 4   hotel_name                                  386803 non-null  object
 5   reviewer_nationality                        386803 non-null  object
 6   negative_review                             386803 non-null  object
 7   review_total_negative_word_counts           386803 non-null  int64
 8   total_number_of_reviews                     386803 non-null  int64
 9   positive_review                             386803 non-null  object
 10  review_total_positive_word_counts           386803 non-null  int64
 11  total_number_of_reviews_reviewer_has_given  386803 non-null  int64
 12  reviewer_score                              386803 non-null  float64
 13  tags                                        386803 non-null  object
 14  days_since_review                           386803 non-null  object
 15  lat                                         384355 non-null  float64
 16  lng                                         384355 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(5), object(7)
memory usage: 50.2+ MB

In [15]:
df1 = df.drop(['hotel_address', 'review_date', 'hotel_name', 'hotel_address', 'review_date', 'hotel_address', 'reviewer_nationality', 'negative_review', 
               'positive_review', 'tags', 'days_since_review'], axis = 1)
df1.head(2)

,additional_number_of_scoring,average_score,review_total_negative_word_counts,total_number_of_reviews,review_total_positive_word_counts,total_number_of_reviews_reviewer_has_given,reviewer_score,lat,lng
0,581,8.4,3,1994,4,7,10.0,51.507894,-0.143671
1,299,8.3,3,1361,2,14,6.3,51.521009,-0.123097

In [16]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386803 entries, 0 to 386802
Data columns (total 9 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   additional_number_of_scoring                386803 non-null  int64
 1   average_score                               386803 non-null  float64
 2   review_total_negative_word_counts           386803 non-null  int64
 3   total_number_of_reviews                     386803 non-null  int64
 4   review_total_positive_word_counts           386803 non-null  int64
 5   total_number_of_reviews_reviewer_has_given  386803 non-null  int64
 6   reviewer_score                              386803 non-null  float64
 7   lat                                         384355 non-null  float64
 8   lng                                         384355 non-null  float64
dtypes: float64(4), int64(5)
memory usage: 26.6 MB

In [17]:
# Проверим данные на наличие полных дубликатов:
print('Количество дубликатов: {}'.format(df1[df1.duplicated()].shape[0]))
# Удаляем дубликаты:
df1 = df1.drop_duplicates()
print('Размер таблицы после удаления дубликатов: {}'.format(df1.shape))

Количество дубликатов: 9090
Размер таблицы после удаления дубликатов: (377713, 9)

In [18]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 377713 entries, 0 to 386802
Data columns (total 9 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   additional_number_of_scoring                377713 non-null  int64
 1   average_score                               377713 non-null  float64
 2   review_total_negative_word_counts           377713 non-null  int64
 3   total_number_of_reviews                     377713 non-null  int64
 4   review_total_positive_word_counts           377713 non-null  int64
 5   total_number_of_reviews_reviewer_has_given  377713 non-null  int64
 6   reviewer_score                              377713 non-null  float64
 7   lat                                         375286 non-null  float64
 8   lng                                         375286 non-null  float64
dtypes: float64(4), int64(5)
memory usage: 28.8 MB

Означают разделение вашего DataFrame df1 на два объекта:
X — это DataFrame, который содержит все признаки (фичи), кроме столбца 'reviewer_score'. Метод drop удаляет указанный столбец (axis=1 — значит по столбцам), и возвращает новый DataFrame без этого столбца.
y — это Series, который содержит только целевую переменную 'reviewer_score', то есть то, что вы хотите предсказывать или использовать как метку.
Такое разделение часто используется в задачах машинного обучения или анализа данных:
X — входные данные (признаки) для модели,
y — целевая переменная (ответ).
Это позволяет отдельно подготовить и обработать признаки и целевую переменную и затем обучить модель или провести анализ.

Что происходит при этом:

Все значения в y будут приведены к типу int (целое число).
Если в y изначально были значения в другом формате (например, строки чисел "1", "2" или числа с плавающей точкой 1.0, 2.7), после astype('int') они станут целыми числами (в случае с float — дробная часть отбрасывается).
Это важно, когда функции, например из sklearn, требуют определённого типа для целевой переменной — обычно целочисленного (например, метки классов).

Метод astype:
Работает для объектов типа pandas Series или DataFrame.
Принимает в аргумент тип данных, к которому нужно привести ('int', 'float', 'str', и др.).
Возвращает новый объект с преобразованными типами (если не использовать параметр copy=False, тогда можно изменить объект на месте).

Таким образом, ваш код y = y.astype('int') обеспечивает, что целевая переменная y будет именно целочисленной, что важно для корректной работы статистических и машинно-обучающих методов.

In [19]:
    # Разбиваем датафрейм на части, необходимые для обучения и тестирования модели  
    # Х — данные с информацией об отелях, у — целевая переменная (рейтинги отелей)  
    X = df1.drop(['reviewer_score'], axis = 1)  
    y = df1['reviewer_score']  
      
    # Загружаем специальный инструмент для разбивки:  
    from sklearn.model_selection import train_test_split  
      
    # Наборы данных с меткой "train" будут использоваться для обучения модели, "test" — для тестирования.  
    # Для тестирования мы будем использовать 25 % от исходного датасета.  
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [20]:
X.head(2)

,additional_number_of_scoring,average_score,review_total_negative_word_counts,total_number_of_reviews,review_total_positive_word_counts,total_number_of_reviews_reviewer_has_given,lat,lng
0,581,8.4,3,1994,4,7,51.507894,-0.143671
1,299,8.3,3,1361,2,14,51.521009,-0.123097

In [21]:
(X < 0).sum()

additional_number_of_scoring                       0
average_score                                      0
review_total_negative_word_counts                  0
total_number_of_reviews                            0
review_total_positive_word_counts                  0
total_number_of_reviews_reviewer_has_given         0
lat                                                0
lng                                           186108
dtype: int64

In [22]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Index: 377713 entries, 0 to 386802
Data columns (total 8 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   additional_number_of_scoring                377713 non-null  int64
 1   average_score                               377713 non-null  float64
 2   review_total_negative_word_counts           377713 non-null  int64
 3   total_number_of_reviews                     377713 non-null  int64
 4   review_total_positive_word_counts           377713 non-null  int64
 5   total_number_of_reviews_reviewer_has_given  377713 non-null  int64
 6   lat                                         375286 non-null  float64
 7   lng                                         375286 non-null  float64
dtypes: float64(3), int64(5)
memory usage: 25.9 MB

In [23]:
y.head(2)

0    10.0
1     6.3
Name: reviewer_score, dtype: float64

In [24]:
y.info()

<class 'pandas.core.series.Series'>
Index: 377713 entries, 0 to 386802
Series name: reviewer_score
Non-Null Count   Dtype
--------------   -----
377713 non-null  float64
dtypes: float64(1)
memory usage: 5.8 MB

In [25]:
y = y.astype('int').head(2)
y

0    10
1     6
Name: reviewer_score, dtype: int32

In [50]:
(X < 0).sum()

additional_number_of_scoring                       0
average_score                                      0
review_total_negative_word_counts                  0
total_number_of_reviews                            0
review_total_positive_word_counts                  0
total_number_of_reviews_reviewer_has_given         0
lat                                                0
lng                                           186108
dtype: int64

In [51]:
cat_cols = ['average_score', 'lat', 'lng']
X_filled = X[cat_cols].fillna(0)
X_filled = X_filled[X_filled['lng'] >= 0] # Если нужно удалить строки с отрицательными lng (только по этому столбцу):
# X_filled = X[['average_score', 'lat', 'lng']].fillna(0)

In [52]:
print(X[cat_cols].head())

   average_score        lat       lng
0            8.4  51.507894 -0.143671
1            8.3  51.521009 -0.123097
2            8.9  48.845377  2.325643
3            7.5  48.888697  2.394540
4            8.5  52.385601  4.847060

In [54]:
print(X_filled[cat_cols].head())

   average_score        lat        lng
2            8.9  48.845377   2.325643
3            7.5  48.888697   2.394540
4            8.5  52.385601   4.847060
5            8.0  45.448188   9.257046
7            8.3  48.208563  16.354169

In [56]:
# Оставить только строки, где все значения >= 0 в указанных столбцах
cols = ['average_score', 'lat', 'lng']
X_filled = X_filled[(X_filled[cols] >= 0).all(axis=1)]
# Если нужно удалить строки с отрицательными lng (только по этому столбцу):
# python
# X_filled = X_filled[X_filled['lng'] >= 0]
# После удаления
# Проверить, что больше нет отрицательных:
# python
print((X_filled[cols] < 0).sum())
# Вы увидите нули — значит отрицательных больше нет.

average_score    0
lat              0
lng              0
dtype: int64

In [78]:
X = X[(X[cols] >= 0).all(axis=1)]
print(X[cat_cols].head())

   average_score        lat        lng
2            8.9  48.845377   2.325643
3            7.5  48.888697   2.394540
4            8.5  52.385601   4.847060
5            8.0  45.448188   9.257046
7            8.3  48.208563  16.354169

In [28]:
# После удаления
# Проверить, что больше нет отрицательных:
(X_filled  < 0).sum()
print((X_filled[cat_cols] < 0).sum())

average_score    0
lat              0
lng              0
dtype: int64

# Предполагаем, что X и y изначально имеют одинаковый индекс

# Если изменяется X (например, удаляются строки), то
# нужно применить ту же фильтрацию к y

mask = ...  # булевский маск для X (и y)

X = X.loc[mask]
y = y.loc[mask]

# Теперь индексы синхронизированы

# Важно
# После удаления строк по X_filled синхронизируйте целевой вектор y (если используете):
y = y.loc[X_filled.index]

(X < 0).sum()

In [30]:
X_filled['lng']

2          2.325643
3          2.394540
4          4.847060
5          9.257046
7         16.354169
            ...
386791     2.179610
386792     9.204283
386793     2.311274
386794     2.321325
386799    16.399451
Name: lng, Length: 191605, dtype: float64

In [31]:
print(cat_cols)
print(type(cat_cols))

['average_score', 'lat', 'lng']
<class 'list'>

In [33]:
indices_to_drop = X_filled[X_filled['lng'] < 0].index
X_filled = X.drop(indices_to_drop)
(X_filled < 0).sum()

additional_number_of_scoring                  0
average_score                                 0
review_total_negative_word_counts             0
total_number_of_reviews                       0
review_total_positive_word_counts             0
total_number_of_reviews_reviewer_has_given    0
lat                                           0
lng                                           0
dtype: int64

In [34]:
df_clean = pd.concat([X, y], axis=1).dropna()
X_clean = df_clean[X.columns]
y_clean = df_clean[y.name]

# 1. Заполнить пропуски (например, наиболее частым значением)
indices_to_drop = X[X_filled['lng'] < 0].index
X = X.drop(indices_to_drop)

# Заполнить пропуски наиболее частыми значениями в категориальных столбцах
X_filled = X[cat_cols].fillna(X[cat_cols].mode().iloc[0])

# Применить chi2 (обязательно закрыть скобку!)
imp_cat = pd.Series(chi2(X_filled, y)[0], index=cat_cols)

In [46]:
# 1. Заполнить пропуски в категориальных признаках
# Например, заполнить наиболее частыми значениями (mode):
X_filled = X[cat_cols].fillna(X[cat_cols].mode().iloc[0])

# 2. Закодировать категориальные признаки числовыми значениями
# chi2 требует числовых неотрицательных признаков.
# Если у вас категории в виде строк:
from sklearn.preprocessing import OrdinalEncoder
enc = OrdinalEncoder()
X_encoded = enc.fit_transform(X_filled)

In [60]:
# from sklearn.feature_selection import chi2
# imp_cat = pd.Series(chi2(X[cat_cols], y)[0], index=cat_cols)

0    10
1     6
Name: reviewer_score, dtype: int32

imp_cat = pd.Series(chi2(X_encoded, y)[0], index=cat_cols)

In [65]:
# 1. Проверить наличие NaN
print(X[cat_cols].isnull().sum())
# print(pd.isnull(y).sum())

average_score       0
lat              2427
lng              2427
dtype: int64

# 2. Удалить строки с пропусками:
df = pd.concat([X[cat_cols], y], axis=1)
df = df.dropna()
X_clean = df[cat_cols]
y_clean = df[y.name]
imp_cat = pd.Series(chi2(X_clean, y_clean)[0], index=cat_cols)

In [88]:
# X_filled = X[cat_cols].fillna(X[cat_cols].mode().iloc[0])
X_filled = X[cat_cols].fillna(X[cat_cols].mode().iloc[0])
y_clean = y.loc[X_filled.index]  # синхронизируем индексы

enc = OrdinalEncoder()
X_encoded = enc.fit_transform(X_filled)

imp_cat = pd.Series(chi2(X_encoded, y_clean)[0], index=cat_cols)

KeyError: "None of [Index([     2,      3,      4,      5,      7,     10,     14,     15,     19,\n           24,\n       ...\n       386775, 386780, 386783, 386785, 386789, 386791, 386792, 386793, 386794,\n       386799],\n      dtype='int64', length=189178)] are in the [index]"

In [86]:
import pandas as pd
from sklearn.feature_selection import chi2
from sklearn.preprocessing import OrdinalEncoder

# Предположим, уже есть X, y и cat_cols

# 1. Объединяем с сохранением индекса (обязательно, если y — Series)
df = pd.concat([X[cat_cols], y], axis=1)

# 2. Удаляем строки с пропусками
df_clean = df.dropna()

print(f"Число строк после удаления пропусков: {len(df_clean)}")

if len(df_clean) == 0:
    raise ValueError("Нет данных после удаления пропусков! Проверьте исходные данные.")

# 3. Отделяем X и y
X_clean = df_clean[cat_cols]
y_clean = df_clean[y.name]

# 4. Кодируем категориальные признаки, если они не числовые
enc = OrdinalEncoder()
X_encoded = enc.fit_transform(X_clean)

# 5. Применяем chi2
imp_cat = pd.Series(chi2(X_encoded, y_clean)[0], index=cat_cols)

print(imp_cat)
# Если df_clean получается пустым — что делать?
# Проверьте, что cat_cols и y содержат данные без слишком большого количества пропусков.

# Замените dropna() на заполнение пропусков — например:

# python
# X_filled = X[cat_cols].fillna(X[cat_cols].mode().iloc[0])
# и потом объединяйте с y.

# Итог
# Обычно так:

# python
# X_filled = X[cat_cols].fillna(X[cat_cols].mode().iloc[0])
# y_clean = y.loc[X_filled.index]  # синхронизируем индексы

# enc = OrdinalEncoder()
# X_encoded = enc.fit_transform(X_filled)

# imp_cat = pd.Series(chi2(X_encoded, y_clean)[0], index=cat_cols)
# Если нужна помощь с вашим конкретным датасетом — дайте, пожалуйста, больше контекста, могу помочь.

Число строк после удаления пропусков: 0

ValueError: Нет данных после удаления пропусков! Проверьте исходные данные.

In [66]:
# 1. Проверить наличие NaN
print(X_filled[cat_cols].isnull().sum())
# print(pd.isnull(y).sum())

average_score    0
lat              0
lng              0
dtype: int64

In [68]:
from sklearn.feature_selection import chi2
import pandas as pd
import matplotlib.pyplot as plt

# y — целевая переменная, например Series с типом int
# X — DataFrame с категориальными признаками
# cat_cols — список категориальных столбцов в X

imp_cat = pd.Series(chi2(X[cat_cols], y)[0], index=cat_cols)
# imp_cat.sort_values(inplace=True)
# imp_cat.plot(kind='barh')
# plt.show()

ValueError: Input contains NaN.

In [37]:
import numpy as np
from sklearn.ensemble import RandomForestRegressor  # пример модели
from sklearn.metrics import mean_absolute_percentage_error
# Обучение модели (пример)
model = RandomForestRegressor(random_state=42)
model.fit(X_train, y_train)
# Предсказания на тесте
y_pred = model.predict(X_test)
# Расчёт MAPE
mape_value = mean_absolute_percentage_error(y_test, y_pred) * 100  # умножаем на 100 для %
print(f"MAPE на тестовой выборке: {mape_value:.2f}%")

MAPE на тестовой выборке: 14.36%

import pandas as pd
import numpy as np
from sklearn.feature_selection import chi2
from sklearn.preprocessing import OrdinalEncoder

# --- 1. Создание демонстрационных данных ---
# Создадим DataFrame X с числовыми и категориальными столбцами, включая отрицательные значения
data = {
    'average_score': np.random.randint(0, 100, 200000),
    'lat': np.random.uniform(0, 90, 200000),
    'lng': np.random.uniform(-180, 180, 200000), # Тут будут отрицательные
    'category_A': np.random.choice(['red', 'blue', 'green', np.nan], 200000),
    'category_B': np.random.choice(['small', 'medium', 'large', np.nan], 200000),
    'feature_1': np.random.rand(200000),
    'feature_2': np.random.rand(200000)
}
X = pd.DataFrame(data)

# Создадим целевую переменную y
y = pd.Series(np.random.randint(0, 2, 200000)) # Бинарный класс для chi2

# Умышленно добавим отрицательные lat и average_score для демонстрации
X.loc[500:510, 'average_score'] = -1
X.loc[1000:1010, 'lat'] = -5

print("X shape before any processing:", X.shape)
print("y shape before any processing:", y.shape)
print("\n(X < 0).sum() before processing:")
print((X[['average_score', 'lat', 'lng']] < 0).sum())

# Определяем категориальные столбцы
cat_cols = ['category_A', 'category_B']

# --- 2. Удаление строк с отрицательными значениями ---
# Создаем маску для удаления строк с отрицательными значениями в 'average_score', 'lat', 'lng'
# ВНИМАНИЕ: Если вы хотите удалить строки только по 'lng', используйте:
# mask_valid_rows = (X['lng'] >= 0)
# В этом примере удаляем по всем трем:
mask_valid_rows = (X['average_score'] >= 0) & (X['lat'] >= 0) & (X['lng'] >= 0)

# Применяем маску к X и y, чтобы сохранить синхронизацию
X = X.loc[mask_valid_rows].copy() # .copy() для избежания SettingWithCopyWarning
y = y.loc[mask_valid_rows].copy()

print("\n--- After removing negative rows ---")
print("X shape after removing negative rows:", X.shape)
print("y shape after removing negative rows:", y.shape)
print("\n(X < 0).sum() after processing:")
print((X[['average_score', 'lat', 'lng']] < 0).sum())


# --- 3. Обработка пропусков в y (если они есть) ---
# Убедимся, что в y нет пропусков, так как chi2 не работает с NaN в целевой переменной
mask_y_notnull = y.notnull()
X = X.loc[mask_y_notnull].copy()
y = y.loc[mask_y_notnull].copy()
print("\n--- After checking y for nulls ---")
print("X shape after checking y for nulls:", X.shape)
print("y shape after checking y for nulls:", y.shape)


# --- 4. Обработка пропусков в категориальных признаках и кодирование ---
# Заполняем пропуски в категориальных столбцах наиболее частым значением
# Используем .copy() на X[cat_cols] перед заполнением, чтобы не изменять исходный X напрямую
X_filled_cat = X[cat_cols].fillna(X[cat_cols].mode().iloc[0])

print("\n--- After filling NaN in categorical columns ---")
print("X_filled_cat shape:", X_filled_cat.shape)
print("X_filled_cat NaN count:\n", X_filled_cat.isnull().sum())

# Кодируем категориальные признаки
# chi2 требует числовые неотрицательные значения, поэтому OrdinalEncoder подходит
enc = OrdinalEncoder()
X_encoded_cat = enc.fit_transform(X_filled_cat)

print("\n--- After Ordinal Encoding categorical columns ---")
print("X_encoded_cat shape:", X_encoded_cat.shape)
print("X_encoded_cat type:", type(X_encoded_cat)) # Это будет numpy array

# --- 5. Вычисление chi2 для отбора признаков ---
# Убедитесь, что y имеет тип int, если это не так (особенно если есть bool)
y = y.astype('int')

# X_encoded_cat - это numpy array, y - Series
imp_cat_values = chi2(X_encoded_cat, y)[0] # chi2 возвращает кортеж (scores, pvalues), берем scores

# Создаем pd.Series из важностей, с индексами-названиями столбцов
imp_cat = pd.Series(imp_cat_values, index=cat_cols)

print("\n--- Feature importance (chi2) for categorical columns ---")
print(imp_cat.sort_values(ascending=False))

In [25]:
# Задание 4.2
# Сколько отелей представлено в наборе данных?
num_hotels = df['hotel_name'].nunique()
print(f"В наборе данных представлено {num_hotels} уникальных отелей.")

В наборе данных представлено 1492 уникальных отелей.

* Что здесь происходит:
  - pd.to_datetime() — функция pandas, которая пытается превратить значения (строки, числа и др.) в даты.
  - df['review_date'] — столбец с исходными данными, которые могут быть в строковом формате или других.
  - Параметр *errors='coerce'* означает, что если какое-то значение невозможно преобразовать в дату (например, некорректная строка), то вместо ошибки будет записано значение NaT (Not a Time) — специальное        обозначение пропущенной даты.
* Зачем это нужно?
  - Для правильной работы с датами в pandas — например, сортировки по дате, вычисления разниц между датами, фильтрации по периоду.
* Приведение к датам позволяет избежать ошибок при работе с временными данными.

 - выводит значение переменной max_date в формате даты год-месяц-день (например, 2025-08-04).
*Здесь max_date — объект типа datetime или Timestamp в pandas, а метод .strftime('%Y-%m-%d') преобразует его в строку в заданном формате.*

In [27]:
# Задание 4.3
# Ответьте на вопросы о дате размещения отзывов.
# Когда был оставлен самый свежий отзыв? Введите ответ в формате yyyy-mm-dd.
# Преобразовать столбец с датами в формат datetime, если это ещё не сделано
df['review_date'] = pd.to_datetime(df['review_date'], errors='coerce')
# Найти максимальную дату
max_date = df['review_date'].max()
# Вывести дату в нужном формате yyyy-mm-dd
print(max_date.strftime('%Y-%m-%d'))
# Когда был оставлен самый первый отзыв? Введите ответ в формате yyyy-mm-dd.
min_date = df['review_date'].min()
print(min_date.strftime('%Y-%m-%d'))

2017-08-03
2015-08-04

In [30]:
# Задание 4.4
# Сколько уникальных тегов представлено в наборе данных?
# Предположим, столбец с тегами называется 'tags'
# Разобьём все теги на отдельные элементы и составим множество уникальных
all_tags = df['tags'].dropna().str.split(',')  # Разделение по запятой, если другой разделитель — замените
unique_tags = set(tag.strip() for sublist in all_tags for tag in sublist)
num_unique_tags = len(unique_tags)
print(f"Всего уникальных тегов: {num_unique_tags}")

Всего уникальных тегов: 2413

In [32]:
# Задание 4.5
# Какой тег представлен в наибольшем числе отзывов?
# Убираем пропуски в столбце с тегами
tags_series = df['tags'].dropna()
# Разбиваем строки на списки тегов по запятой
tags_lists = tags_series.str.split(',')
# Преобразуем в DataFrame, где каждая строка — один тег
tags_exploded = tags_lists.explode().str.strip()
# Считаем количество вхождений каждого тега (в скольких отзывах он встречается)
tag_counts = tags_exploded.value_counts()
# Получаем самый частотный тег
most_common_tag = tag_counts.idxmax()
most_common_count = tag_counts.max()
print(f"Тег, представленный в наибольшем числе отзывов: '{most_common_tag}', встречается в {most_common_count} отзывах.")

Тег, представленный в наибольшем числе отзывов: '[' Leisure trip '', встречается в 312768 отзывах.

In [34]:
# Задание 4.6
# Из тегов выясните, на сколько ночей чаще всего останавливаются путешественники в отелях.

tags_exploded = tags_lists.explode()
# Удаляем пробелы и кавычки вне зависимости, одинарные или двойные
tags_exploded = tags_exploded.str.strip().str.strip('"\'')
# Убираем пропуски в столбце с тегами
tags_series = df['tags'].dropna()
# Разбиваем строки на отдельные теги
tags_lists = tags_series.str.split(',')
# Разворачиваем список списков в один столбец
tags_exploded = tags_lists.explode().str.strip()
# Фильтруем теги, которые содержат упоминание ночей (например, "night" или "ночь")
nights_tags = tags_exploded[tags_exploded.str.contains('night|ночь', case=False, na=False)]
# Считаем количество каждого такого тега
nights_counts = nights_tags.value_counts()
# Получаем самый частотный тег и количество
most_common_nights_tag = nights_counts.idxmax()
most_common_nights_count = nights_counts.max()
print(f"Чаще всего путешественники останавливаются на: '{most_common_nights_tag}' (встречается в {most_common_nights_count} отзывах).")

import pandas as pd
import re
# Убираем пропуски
tags_series = df['tags'].dropna()
# Разбиваем строки на отдельные теги
tags_lists = tags_series.str.split(',')
# Разворачиваем в один столбец
tags_exploded = tags_lists.explode().str.strip().str.strip('"\'')
# Фильтруем теги, содержащие слово "night" или "ночь"
nights_tags = tags_exploded[tags_exploded.str.contains('night|ночь', case=False, na=False)]
# Функция для извлечения числа ночей из текста
def extract_nights(text):
    match = re.search(r'(\d+)', text)
    if match:
        return int(match.group(1))
    return None
# Применяем
nights_counts = nights_tags.apply(extract_nights).dropna()
# Считаем, какое число ночей встречается чаще всего
most_common_nights = nights_counts.mode()
if not most_common_nights.empty:
    print(f"Чаще всего путешественники останавливаются на {int(most_common_nights[0])} ночей.")
else:
    print("Не удалось определить наиболее частое количество ночей.")

Чаще всего путешественники останавливаются на: '' Stayed 1 night '' (встречается в 88083 отзывах).
Чаще всего путешественники останавливаются на 1 ночей.

В Python строка import re означает импорт модуля под названием re, который предназначен для работы с регулярными выражениями.

Что такое модуль re?
Модуль re предоставляет инструменты для поиска, проверки, замены и разделения текста по шаблонам с использованием регулярных выражений.

Регулярные выражения — это специальные строки (шаблоны), которые описывают набор правил для поиска или обработки текстовых данных.

Основные возможности модуля re:
Поиск первого совпадения шаблона в строке (re.search())
Поиск совпадения именно в начале строки (re.match())
Поиск всех совпадений шаблона в строке (re.findall())
Замена всех совпадений шаблона в строке (re.sub())

Разделение строки по шаблону (re.split())

Компиляция регулярного выражения для повторного использования (re.compile())

Пример использования:
python
import re

text = "Python is an amazing programming language."
pattern = "amazing"

match = re.search(pattern, text)
if match:
    print("Совпадение найдено:", match.group())
else:
    print("Совпадение не найдено")
В данном примере мы ищем слово "amazing" в тексте. Если оно найдено, программа выведет его.

Таким образом, import re — это команда, которая позволяет включить в ваш скрипт мощные инструменты для работы с текстом через регулярные выражения. Это очень полезно для парсинга, валидации данных, преобразования строк и многих других задач, связанных с текстом.

Связанные
Что такое модуль re и зачем он нужен в Python
Как использовать re.search и re.findall на практике для поиска текста
Почему рекомендуется писать строки шаблонов как raw-строки (r'')
Чем регулируется скорость выполнения регулярных выражений в Python 3.11

In [ ]:
# Задание 4.7
# Какое значение метрики MAPE вам удалось получить на этом этапе?